@import 'bootstrap.min.css';
@import 'bootstrap-responsive.min.css';
@import 'font-awesome.min.css';

// Make the Bootstrap variables available
@import 'bootstrap/variables.less';

// Variables ////

@iconWhiteSpritePath: '../images/glyphicons-halflings-white.png';
@iconSpritePath: '../images/glyphicons-halflings.png';

// Mixins ////

.bootstrap-and-acidlabs-and-kolorsheep-badges {
  // Image size: 380x100;
  background-image: url("../images/bootstrap-acidlabs-kolorsheep.png");
  background-repeat: no-repeat;
  background-position: center top;
}


// Styles ////

body {
  background-color: @grayLighter;
}

// Specific styles for the index page
#index {

  // Hero-unit with background-image
  .hero-unit.custom-hero-unit {
    .custom-hero-unit-inner {
      .bootstrap-and-acidlabs-and-kolorsheep-badges;
      border-top: 1px solid transparent; // force margin-top of fisrt-child to be applied
      padding-top: 120px; // background-width + 20px
      text-align: center;
      p {
        margin-top: 10px;
      }
    }
  }
}

// Disable the hero-unit with background-image on narrow screens
@media (max-width: 979px) {
  #index {
    .hero-unit.custom-hero-unit {
      .custom-hero-unit-inner {
        background-image: none;
        padding-top: 0;
      }
    }
  }
}
