@import 'bootstrap.min.css';

@import 'bootstrap-responsive.min.css';
.bootstrap-and-acidlabs-badges {
  background-image: url("../images/bootstrap-acidlabs.png");
  background-repeat: no-repeat;
  background-position: left top;
}
.bootstrap-and-acidlabs-and-kolorsheep-badges {
  background-image: url("../images/bootstrap-acidlabs-kolorsheep.png");
  background-repeat: no-repeat;
  background-position: left top;
}
body {
  padding-top: 40px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#index .hero-unit.custom-hero-unit .custom-hero-unit-inner {
  background-image: url("../images/bootstrap-acidlabs-kolorsheep.png");
  background-repeat: no-repeat;
  background-position: left top;
  border-top: 1px solid transparent;
  padding-left: 400px;
}
@media (max-width: 979px) {
  #index .hero-unit.custom-hero-unit .custom-hero-unit-inner {
    background-image: none;
    padding-left: 0;
  }
}
.nav-tabs.custom-nav-tabs-with-icon li i {
  background-image: url('../images/glyphicons-halflings.png');
  float: right;
  margin-right: -6px;
  margin-top: 2px;
  opacity: 0.25;
}
.nav-tabs.custom-nav-tabs-with-icon li.active i {
  background-image: url('../images/glyphicons-halflings-white.png');
  opacity: 1;
}
.nav-list.nav-tabs > .active > a,
.nav-list.nav-tabs > .active > a:hover,
.nav-list.nav-tabs > .active > a:focus {
  background-color: #0088CC;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.affix,
.affix-bottom {
  position: fixed;
  top: 73px;
  width: 240px;
}
#footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0;
}
article {
  margin: 1em;
}
.table.table-bordered.custom-table-bordered td,
.table.table-bordered.custom-table-bordered th {
  border-left-width: 0px;
}
.table.table-bordered.custom-table-bordered td:first-child,
.table.table-bordered.custom-table-bordered th:first-child {
  border-left-width: 1px;
}
