@import 'bootstrap.min.css';

@import 'bootstrap-responsive.min.css';

@import 'font-awesome.min.css';
.bootstrap-and-acidlabs-and-kolorsheep-badges {
  background-image: url("../images/bootstrap-acidlabs-kolorsheep.png");
  background-repeat: no-repeat;
  background-position: center top;
}
body {
  background-color: #eeeeee;
}
#index .hero-unit.custom-hero-unit .custom-hero-unit-inner {
  background-image: url("../images/bootstrap-acidlabs-kolorsheep.png");
  background-repeat: no-repeat;
  background-position: center top;
  border-top: 1px solid transparent;
  padding-top: 120px;
  text-align: center;
}
#index .hero-unit.custom-hero-unit .custom-hero-unit-inner p {
  margin-top: 10px;
}
@media (max-width: 979px) {
  #index .hero-unit.custom-hero-unit .custom-hero-unit-inner {
    background-image: none;
    padding-top: 0;
  }
}
